.about-me {
  margin-bottom: 20px;
  display: flex;
  background-color: #eeeeee;
}

.about-me-img {
  width: 50%;
  object-fit: cover;
  margin-right: 20px;
  overflow: hidden;
  cursor: pointer;
}
.about-me-img img {
  width: 100%;
  filter: blur(0.7px);
  transition: 0.7s ease;
}
.about-me-img img:hover {
  transform: scale(1.05);
  filter: none;
}
.about-me-info {
  /* font-size: 16px; */
  width: 50%;
  padding: 20px;
}
.about-me-info h1 {
  font-size: 2rem;
  text-align: center;
}
.personal-info {
  padding: 20px;
  display: flex;
}

.overview {
  padding: 20px;
  color: #848484;
}
.personal-info p {
  padding: 10px;
  color: #848484;
}
.titels p {
  color: #02445a;
  /* font-size: 1.2rem; */
  font-weight: 600;
}

.titels i {
  padding-right: 6px;
}

.education {
  padding: 20px;
}

.education h3 {
  font-size: 1.5rem;
  color: #02445a;
  padding-bottom: 15px;
}

.education p {
  color: #848484;
  font-weight: 500;
  font-size: 1.2rem;
}

.about-me-info .social-icons {
  padding-left: 30px;
}

.about-me-info .social-icons a {
  font-size: 1.7em;
  color: #156d8a;
}
