.navigation {
  display: block;
}

.navigation .nav-link {
  text-decoration: none;
  color: #156d8a;
  font-size: 1.1em;
  font-weight: 500;
  margin-left: 30px;
  padding-bottom: 2px;
  transition: 0.5s ease-out;
}
.navigation .nav-link:hover {
  border-bottom: 2.5px solid #02445a;
  color: #02445a;
}

.nav-btn {
  display: inline-block;
  background-color: #035d7b;
  text-decoration: none;
  font-size: 1.05rem;
  font-weight: 600;
  /* letter-spacing: 1px; */
  padding: 0.5em 1.5em;
  transition: all 2s ease;
  border-radius: 10px;
  color: #fff;
  margin-left: 10px;
}
.nav-btn:hover {
  background-color: #02445a;
}

.dark-mode-btn-nav {
  padding-left: 10px;
  border-radius: 5px;
  background-color: transparent;
  color: #000;
  cursor: pointer;
  border: none;
  transition: all 0.6s ease;
  font-size: 1.4rem;
}

.header-dark .dark-mode-btn-nav {
  color: #fff;
}

.header-dark .nav-link:hover {
  border-bottom: 2.5px solid #2fa6ce;
  color: #2fa6ce;
}
