.projects {
  background-color: #000016;
}

.projects .content {
  margin-top: 30px;
}

.project-card {
  background-color: #fff;
  width: 23em;
  border-radius: 10px;
  margin: 20px;
  min-height: 14em;
  border: 1px solid #fff;
  overflow: hidden;
  transition: 0.7s ease;
}

.project-card:hover {
  transform: scale(1.02);
}
.project-card .project-image:hover {
  opacity: 0.9;
}

.project-image {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.project-image img {
  width: 100%;
}

.project-info {
  padding: 1em;
}

.project-info h3 {
  text-align: center;
  padding-bottom: 20px;
  font-weight: 800;
}

.project-category {
  font-size: 1em;
  color: #000;
}

.project-category span {
  font-weight: bold;
}

.project-title {
  display: flex;
  justify-content: space-between;
  text-transform: capitalize;
  font-weight: 800;
  margin-top: 20px;
}

.more-details {
  text-decoration: none;
  color: #035d7b;
  border-radius: 5px;
  border: 1px solid #c4c4c4;
  padding: 10px;
  background-color: #efefef;
  transition: 0.8s ease;
}

.more-details:hover,
.more-details::after {
  color: #02445a;
  background-color: #dedede;
}

.porject-btn {
  background-color: #035d7b;
  transition: 0.7s ease;
}

.porject-btn:hover {
  background-color: #02445a;
}
