.contact-form {
  background-color: #ffffff;
  padding-bottom: 50px;
  display: flex;
  padding: 0 200px 0 200px;
}

.contact-form .shape {
  width: 50%;
}
.contact-form .shape img {
  padding: 50px;
}

.contact-form .form-sec {
  width: 50%;
  background-color: #f2f2f2;
  padding: 40px;
}

.contact-form img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.contact-form h2 {
  text-align: center;
  margin-bottom: 40px;
  margin-top: 40px;
  color: #034f68;
  font-size: 2rem;
}

.contact-form form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contact-form button {
  padding: 10px 20px;
  background-color: #156d8a;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.contact-form button:hover {
  background-color: #034f68;
}

.contact-form button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

/* contact from dark */

.contact-form-dark {
  background-color: #001016;
}

.contact-form-dark .form-sec {
  background-color: #000;
  color: #fff;
}

.contact-form-dark .form-sec input,
.contact-form-dark .form-sec textarea {
  background-color: rgb(36, 36, 36);
  border: none;
  caret-color: #dbdbdb;
  color: #fff;
}
.contact-form-dark .form-sec input:focus,
.contact-form-dark .form-sec textarea:focus {
  outline-style: none;
}
