@media (max-width: 1023px) {
  header {
    padding: 12px 20px;
  }

  .navigation a {
    padding-left: 10px;
  }

  section {
    padding: 80px 20px;
  }

  /* .main-content h2 {
        font-size: 1em;
      }
    
      .main-content h3 {
        font-size: 1.6em;
      } */
  .content {
    flex-direction: column;
    align-items: center;
  }

  .openbtn {
    display: block;
  }
  .navigation {
    display: none;
  }

  .sidebar a {
    font-size: 1.2rem;
  }
  .about-me-img {
    display: none;
  }
  .about-me-info {
    width: 100%;
    padding: 0;
  }
  .personal-info {
    padding: 0;
  }
}

@media (max-width: 641px) {
  body {
    font-size: 13px;
  }
  .main {
    background: url("../public/images/header3.jpg") no-repeat;
  }
  .main h2 {
    font-size: 0.9em;
  }

  .main h3 {
    font-size: 1.5em;
  }
  .contact-form input,
  .contact-form textarea {
    width: auto;
  }
}

@media (max-width: 300px) {
  body {
    font-size: 10px;
  }
}
