.form-group {
  margin-bottom: 15px;
}

label {
  font-weight: bold;
  display: block;
  padding-bottom: 10px;
}

input,
textarea {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 350px;
}

textarea {
  height: 100px;
}
